.list-container {
  display: flex;
  justify-content: center;
}
.updown {
  border-radius: 8px;
  border: 1px solid black;
  padding: 7px 15px;
  background-color: rgb(12, 61, 9);
  color: white;
  margin-bottom: 5px;
}
.acbuttons-container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.acbuttons {
  border-radius: 8px;
  border: 1px solid black;
  padding: 7px 15px;
  background-color: rgb(12, 12, 72);
  color: white;
  margin-bottom: 5px;
}
