.buttons {
  background-color: #f5f5dc;
}
.editDetails input {
  width: 300px;
  margin-bottom: 10px;
}
.editDetails button {
  width: 330px;
  color: white;
  margin-top: 20px;
  padding: 4px 0px 4px 0px;
  border-radius: 3px;
}
.editDetails h3 {
  background-color: #646412;
}
.editDetails {
  background-color: #646412;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
  height: 350px;
}
.container {
  display: flex;
  justify-content: space-between;
}
.displayUserData {
  height: 350px;
}
