.task18 {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(135deg, #1a1a2e 0%, #16213e 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.task18 .container {
  width: 600px;
  height: 600px;
  background: linear-gradient(135deg, #282877 20%, #344985 100%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.task18 .container canvas {
  width: 550px;
  height: 500px;
  border-radius: 5px;
  background-color: white;
  cursor: crosshair;
}

.task18 .container .colorSelect {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  border: none;
  opacity: 0.8;
  cursor: pointer;
}

.task18 .container .colorSelect:hover {
  opacity: 1;
  transform: scale(1.1);
}

.task18 .container .bottom {
  display: flex;
  margin-top: 20px;
  gap: 2.5px;
  justify-content: center;
}

.task18 .container .rangeSelect {
  width: 450px;
  margin-top: 15px;
  cursor: pointer;
}
