.task8 .container {
  width: 100vh;
  height: 100vh;
  background-image: url("/blade-hit-demo-background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  cursor: pointer;
}

.task8 .spinner-container {
  position: absolute;
  left: calc(50vh - 15vh);
  top: calc(50vh - 15vh);
  width: 30vh;
  height: 30vh;
}

.task8 .spinner {
  background-image: url("/blade-hit-demo-target.png");
  width: 30vh;
  height: 30vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
}
.task8 .knife {
  width: 18vh;
  height: 18vh;
  position: absolute;
  background-image: url("/blade-hit-demo-knife.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 18vh;
  left: calc(50vh - 9vh);
  bottom: 2vh;
  transition: transform 0.2s ease;
}
