.task8 .display {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 30px;
}
.task8 img {
  width: 0;
  height: 0;
}
.task8 canvas {
  height: 400px;
  max-width: 600px;
}
.task8 .display h2 {
  color: white;
}
.task8 .userin {
  display: flex;
  flex-direction: column;
}
.task8 .title {
  font-size: 40px;
  padding: 10px 0px 50px 0px;
  color: white;
  font-weight: 500;
}
.task8 .upload {
  display: flex;
  background: linear-gradient(135deg, #1a1a2e 0%, #16213e 100%);
  width: 80vw;
  justify-content: center;
  padding: 20px 0px 20px 0px;
  border-radius: 10px;
}
.task8 .upload button {
  padding: 10px 20px 10px 20px;
  color: white;
  background: linear-gradient(135deg, #383858 0%, #6b6d74 100%);
  border-radius: 10px;
  border: none;
}
.task8 .upload button:hover {
  background: linear-gradient(135deg, #08082b 0%, #7a839c 100%);
}
.task8 .display button {
  width: 300px;
  height: 50px;
  margin: 10px 0px 10px 0px;
  color: white;
  border-radius: 10px;
  background: linear-gradient(135deg, #0c0c17 0%, #4e587d 100%);
  font-size: 15px;
}
.task8 .display button:hover {
  background: linear-gradient(135deg, #2e2e3c 0%, #7a839c 100%);
}
.task8 .display button:disabled {
  background: linear-gradient(135deg, #ababcf 0%, #b0b5c2 100%);
}
